@charset "utf-8";
* {
	width: auto;
}

html,body{
	font-size: 16px;
	font-family: ProximaNova, helvetica, arial, sans-serif, "方正兰亭超细黑简体","微软雅黑";
	overflow-x:  hidden;
	margin: 0px auto;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}


#titleBar {
	/*margin-top: ;*/
	width: 100%;
	height: 60px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #304250;
	/*position: relative;*/
	position: fixed;
	z-index: 100;
}


/*导航栏的总体设置*/

.titleBarLogo {
	width: 20%;
	height: 60px;
	float: left;
	top: 0;
	background-color: transparent;
	background-image: url(../img/logo_temp3.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	color: whitesmoke;
}


/*导航栏Logo设置*/

#loginLogo {
	width: 20%;
	height: 60px;
	float: right;
	background-color: transparent;
	overflow: hidden;
	color: whitesmoke;
}

#loginLogo>div {
	width: 100px;
	height: 40px;
	float: right;
	margin-top: 10px;
	margin-right: 20px;
}
.loginLogoImg1{
	width: 38px;
	height: 38px;
	background-image: url(../img/cloud.png);
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
	margin-top: 3px;
	margin-right: 10px;
}
.loginLogoImg2{
	width: 35px;
	height: 35px;
	background-image: url(../img/people1.png);
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
	margin-top: 3px;
}
#titleBarNav {
	width: 60%;
	height: auto;
	display: inline-block;
	background-color: transparent;
	font-size: 0px;
}

.titleBarNavUl {
	background-color: transparent;
	width: 100%;
	height: 60px;
	border-width: 0px;
	text-align: center;
	list-style-type: none;
}

.titleBarNavUl li {
	width: auto;
	height: 58px;
	background-color: transparent;
	display: inline-block;
	text-align: center;
	font-size: 1rem;
	border-bottom-color: #1;
	border-bottom-width: 2px;
}

.titleBarNavUl li:hover {
	border-bottom-color: #EFEFEF;
	border-bottom-style: solid;
}

.titleBarNavUl li a {
	padding: 0 1.25rem 0 1.25rem;
	line-height: 58px;
	color: #fff;
	font-family: "微软雅黑";
	font-weight: 800;
}

.titleBarNavUl:first-child {}


.mapDiv{
	width: 100%;
	height: 400px;
	position: relative;
}

.chooseDiv{
	width:100%;
	padding-top: 15px;
	padding-bottom: 5px;
	background-color: #304250;
	margin-top: 60px;
	z-index: 20;
	
}
.chooseUl{
	list-style-type: none;
	text-align: center;
	width: auto;
	height: 30px;
}
.chooseLi{
	text-align: center;
	width: auto;
	height: auto;
	background: #ec2f10;
	opacity: .7;
	color: #fff;
	border-radius:10px;
	padding: 0 5px;
	font-weight: 600;
	cursor: pointer;
	float: right;
	margin-left: 10px;
}
.chooseLi:active{
	opacity: .9;
}
.chooseLi2{
	margin-right: 40px;
}


.endingBeforeDiv{
	width: auto;
	height: auto;
	margin: 0 auto;
	background-color: #384e5f;
	padding: 20px 2.5rem 60px;
	text-align: center;
}
.endingBeforeDivContent{
	width: auto;
	height: 200px;
	font-size: 1rem;
	color: #fefefe;
}
.endingBeforeDivContentDiv{
	vertical-align: middle;
	width: 33%;
	height: 9rem;
	float: left;
	text-align: center;
	line-height: 2rem;
	border-right: solid 1px #fff;
	
}
.endingBeforeDivContentDiv1{
	width: 33%;
	border-left: solid 1px #fff;
}
.endingBeforeDivContentDiv div:first-child{
	color: #FFFFFF;
	font-size: 1.5rem;
	font-weight: 800;
	margin-top: 10px;
	line-height: 1.6rem;
}

.endingBeforeSocialDiv{
	width: 100%;
	height: auto;
	margin: 0 auto;
	float: left;
	color: #eee;
	margin-top: 30px;
}
.endingBeforeSocialDiv hr{
	width: 100%;
	height: 1px;
	background-color: #fff;
	opacity: 0.7;
}
.socialMediaDiv{
	width: 90%;
	height: 20px;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
}
.socialMediaDiv div{
	width: 25px;
	height: 25px;
	display: inline-block;
	margin:2px 8px;
	border-radius: 2px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	box-sizing: border-box;
	opacity: 0.8;
}
.socialMediaQQ{
	background-image:url(../img/logo_socialMedia/QQ.png) ;
}
.socialMediaQZone{
	background-image: url(../img/logo_socialMedia/qzone.png);
}
.socialMediaInsta{
	background-image: url(../img/logo_socialMedia/Instagram.png);
}
.socialMediaTieba{
	background-image: url(../img/logo_socialMedia/tieba.png);
}
.socialMediaWeChat{
	background-image: url(../img/logo_socialMedia/wechat.png);
}
.socialMediaWeibo{
	background-image: url(../img/logo_socialMedia/weibo.png);
}
.endingDiv{
	width: auto;
	height: 110px;
	background-color: #577186;
	
}
.endingDivContent{
	width: auto;
	height: 100%;
	position:relative;
}
.endingDivCopyRight{
	width: 100%;
	text-align: center;
	color: #fff;
	line-height: 2rem;
	position: absolute;
	bottom: 10px;
	font-weight: 700;
}

.endingDivMeanings{
	line-height: 1.2rem;
	padding-top: 15px;
	color: #fff;
	text-align: center;
}
.upToTopGuide{
	width: 2.2rem;
	height: 2.2rem;
	position: fixed;
	bottom: 3rem;
	right: 3rem;
}
.upToTopGuide div{
	width: 100%;
	height: 100%;
	background-image: url(../img/upPointer1.png) ;
	opacity: 0.3;
	border-radius: 5px;
	background-position: center;
	background-size: cover;
}
.upToTopGuide div:hover{
	cursor: hand;
	opacity: 0.5;
}

.noneDisplay{
	display: none;
}
