*{
	margin: 0;
	padding: 0;
	border-width: 0;
}
a:hover{
	cursor: pointer;
	text-decoration: none;
}
a{
	color: inherit;
	text-decoration: none;
}
@font-face { 
font-family: "方正兰亭超细黑简体"; 
src: url("../fonts/fzcx.ttf"); 
}
@import url("../fonts/fzcx.ttf");