@charset "utf-8";
@import url("homePageAnimation.css");
* {
	width: auto;
}

html,
body {
	font-size: 16px;
	font-family: ProximaNova, helvetica, arial, sans-serif, "方正兰亭超细黑简体", "微软雅黑";
	overflow-x: hidden;
	margin: 0px auto;
	width: 100%;
	height: 100%;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

.titleAll {
	width: auto;
	height: 100%;
	position: relative;
}
.visiblePage2A{
	visibility: hidden;
	height: 60px;
	width: 100%;
	position: absolute;
	bottom:0px
}
.titleBackground {
	width: 100%;
	height: 100%;
	background-color: #262626;
	background-image: url(../img/globeWarm/iceberg2.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}

.titleBackgroundFilter {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.35);
	position: absolute;
	top: 0;
	left: 0;
}

.titleBar {
	/*margin-top: ;*/
	width: 100%;
	height: auto;
	/*position: relative;*/
	position: fixed;
	z-index: 100;
	top: 0;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, .2);
}


/*导航栏的总体设置*/

.titleBarLogo {
	width: 20%;
	height: 60px;
	float: left;
	top: 0;
	background-color: transparent;
	background-image: url(../img/logo_temp3.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	-webkit-overflow-scrolling: touch;
	color: whitesmoke;
}


/*导航栏Logo设置*/

#loginLogo {
	width: 20%;
	height: 60px;
	float: right;
	background-color: transparent;
	color: whitesmoke;
}

#loginLogo>div {
	width: 100px;
	height: 40px;
	float: right;
	margin-top: 10px;
	margin-right: 20px;
}

.loginLogoImg1 {
	width: 38px;
	height: 38px;
	background-image: url(../img/cloud.png);
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
	margin-top: 3px;
	margin-right: 10px;
	cursor: pointer;
}

.loginLogoImg2 {
	width: 35px;
	height: 35px;
	background-image: url(../img/people1.png);
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	cursor: pointer;
	margin-top: 3px;
}

#titleBarNav {
	width: 60%;
	height: auto;
	display: inline-block;
	background-color: transparent;
	font-size: 0px;
}

.titleBarNavUl {
	background-color: transparent;
	width: 100%;
	height: 60px;
	border-width: 0px;
	text-align: center;
	list-style-type: none;
	color: #fff;
}

.titleBarNavUl li {
	width: auto;
	height: 58px;
	background-color: transparent;
	display: inline-block;
	text-align: center;
	font-size: 1rem;
	border-bottom-color: #1;
	border-bottom-width: 2px;
}

.titleBarNavUl li:hover {
	border-bottom-color: #EFEFEF;
	border-bottom-style: solid;
}

.titleBarNavUl li a {
	padding: 0 1.25rem 0 1.25rem;
	line-height: 58px;
	font-family: "方正兰亭超细黑简体", "微软雅黑";
	font-weight: 800;
}

.titleBarNavUl:first-child {}

.topBannerPointer {
	display: none;
}

.titleBlack {
	color: #080808 !important;
}

.contentDiv1 {
	position: absolute;
	top: 40%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.Gaia {
	/*color: #eee;
	font-size: 4rem;
	line-height: 5rem;
	animation: alertWord 2s linear;
	-webkit-animation: alertWord 2s linear;*/
	width: 450px;
	height: 135px;
	margin: 0 auto;
	background-image: url(../img/gaiaProject1.png);
	background-position: center;
	background-size: cover;
	cursor: pointer;
}

.wordContentAlert {
	width: 60%;
	height: auto;
	color: #eee;
	margin: 0 auto;
	vertical-align: middle;
	margin-top: 3rem;
	animation: alertWord 2s linear;
	-webkit-animation: alertWord 2s linear;
}

.wordBig {
	font-size: 3rem;
	font-weight: 1000;
	line-height: 4rem;
}

.wordMiddle {
	font-size: 2rem;
	font-weight: 700;
	line-height: 3rem;
}

.wordRegular {
	font-size: 1.2rem;
	line-height: 2rem;
	font-family: "方正兰亭超细黑简体";
}

.contentDiv1Link {
	width: 40%;
	height: auto;
	max-width: 200px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	position: absolute;
	bottom: 20px;
}

.linkline1 {
	width: 100%;
	height: 1px;
	background-color: #efefef;
	opacity: .6;
}

.linkNextPage {
	width: 80%;
	height: 50px;
	font-family: "方正兰亭超细黑简体";
	text-align: center;
	line-height: 50px;
	margin: 0 auto;
	color: #efefef;
	z-index: 10;
}

.linkTriangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-color: #fff;
	border-width: 10px 10px 0 10px;
	border-color: rgba(255, 255, 255, .7) transparent transparent transparent;
	margin: 0 auto;
	/*margin-top: -10px;*/
}

.contentDiv2 {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	background: #ccc;
	position: relative;
}

.photoContent {
	width: 100%;
	height: 100%;
	background-color: #efefef;
	float: left;
}

.leftPhotoDiv {
	width: 50%;
	height: 100%;
	background-color: #000000;
	float: left;
}

.leftPhoto {
	width: 50%;
	height: 50%;
	float: left;
	background: #005599;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .7;
	cursor: pointer;
}

.leftPhoto:hover {
	opacity: 1;
}

.leftPhoto1 {
	background-image: url(../img/homepageShow/1.jpg);
}

.leftPhoto2 {
	background-image: url(../img/homepageShow/4.jpg);
}

.leftPhoto3 {
	background-image: url(../img/homepageShow/6.jpg);
}

.leftPhoto4 {
	background-image: url(../img/homepageShow/2.jpg);
}

.wordContentRight {
	width: 50%;
	height: 100%;
	background-color: #efefef;
	float: right;
}

.wordContentRightContent {
	overflow: hidden;
}

.wordContentTitle {
	width: 400px;
	height: 120px;
	background-image: url(../img/globeWarmingTitleM.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0 auto;
	margin-top: 30px;
}

.wordContentText {
	width: 350px;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../img/globeWarmingTexts.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.contentDiv3 {
	width: 100%;
	height: calc(100% - 60px);
	margin: 0 auto;
	text-align: center;
	background: #efefef;
	position: relative;
}

.linkCube1 {
	width: 20%;
	/*max-width: 10px;*/
	height: 15px;
	position: absolute;
	background: #005684;
	top: 20px;
	left: 80%;
	z-index: 10;
}

.linkCube2 {
	width: 20%;
	/*max-width: 10px;*/
	height: 20px;
	position: absolute;
	background: #FA881F;
	top: 20px;
	left: 80%;
}

.contentDiv3LeftAll {
	width: 80%;
	height: 100%;
	/*background: #fefefe;*/
	box-shadow: 2px 0px 10px 3px rgba(0, 0, 0, .3);
	float: left;
	/*background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../img/globeWarm/polarbear.jpg);*/
}

.contentDiv3Left1Title {
	line-height: 6rem;
	font-size: 2rem;
	vertical-align: bottom;
	margin-top: 30px;
	color: #777;
}
.contentDiv3Left2{
	width: 100%;
	height: 400px;
	background-position: top;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url(../img/gaia1.png);
}

.contentDiv3RightAll {
	width: 20%;
	float: left;
}

.contentDiv3RightContent {
	width: 100%;
}

.contentDiv3RightLogo {
	width: 100%;
	height: 100px;
}

.contentDiv3RightChannel {
	font-family: "微软雅黑";
	color: #455;
}

.contentDiv3RightChannel>ul {
	list-style-type: none;
	margin-top: 10px;
}

.channelLi {
	text-align: center;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
}

.endingBeforeDiv {
	width: auto;
	height: auto;
	margin: 0 auto;
	background-color: #384e5f;
	padding: 20px 2.5rem 60px;
	text-align: center;
}

.endingBeforeDivContent {
	width: auto;
	height: 200px;
	font-size: 1rem;
	color: #fefefe;
	margin-top: 50px;
}

.endingBeforeDivContentDiv {
	vertical-align: middle;
	width: 33%;
	height: 9rem;
	float: left;
	text-align: center;
	line-height: 2rem;
	border-right: solid 1px #fff;
}

.endingBeforeDivContentDiv1 {
	width: 33%;
	border-left: solid 1px #fff;
}

.endingBeforeDivContentDiv div:first-child {
	color: #FFFFFF;
	font-size: 1.5rem;
	font-weight: 800;
	margin-top: 10px;
	line-height: 1.6rem;
}
.endingBeforeDivContentDiv div{
	cursor:  pointer;
}
.endingBeforeDivContentDiv div:hover{
	text-decoration: underline;
}
.endingBeforeSocialDiv {
	width: 100%;
	height: auto;
	margin: 0 auto;
	float: left;
	color: #eee;
	margin-top: 30px;
}

.endingBeforeSocialDiv hr {
	width: 100%;
	height: 1px;
	background-color: #fff;
	opacity: 0.7;
}

.socialMediaDiv {
	width: 90%;
	height: 20px;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
}

.socialMediaDiv div {
	width: 25px;
	height: 25px;
	display: inline-block;
	margin: 2px 8px;
	border-radius: 2px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	box-sizing: border-box;
	opacity: 0.8;
}

.socialMediaQQ {
	background-image: url(../img/logo_socialMedia/QQ.png);
}

.socialMediaQZone {
	background-image: url(../img/logo_socialMedia/qzone.png);
}

.socialMediaInsta {
	background-image: url(../img/logo_socialMedia/Instagram.png);
}

.socialMediaTieba {
	background-image: url(../img/logo_socialMedia/tieba.png);
}

.socialMediaWeChat {
	background-image: url(../img/logo_socialMedia/wechat.png);
}

.socialMediaWeibo {
	background-image: url(../img/logo_socialMedia/weibo.png);
}

.endingDiv {
	width: auto;
	height: 110px;
	background-color: #577186;
}

.endingDivContent {
	width: auto;
	height: 100%;
	position: relative;
}

.endingDivCopyRight {
	width: 100%;
	text-align: center;
	color: #fff;
	line-height: 2rem;
	position: absolute;
	bottom: 10px;
	font-weight: 700;
}

.endingDivMeanings {
	line-height: 1.2rem;
	padding-top: 15px;
	color: #fff;
	text-align: center;
}


.noneDisplay{
	display: none;
}