@keyframes alertWord{
	from{transform: scale(4);opacity: 0;}
	to{transform:scale(1);opacity: 1;}
}
@-webkit-keyframes alertWord{
	from{-webkit-transform: scale(4);opacity: 0;}
	to{-webkit-transform: scale(1);opacity: 1;}
}
@keyframes backGroundMove{
	from{background-position-x: 0;}
	to{background-position-x: calc(1600px-100%);}
}
@-webkit-keyframes backGroundMove{
	from{background-position-x: 0;}
	to{background-position-x: calc(1600px-100%);}
}