/*@import url("animation360.css");
.addFadeInAnimation{
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
}
.addFadeOutAnimation{
	-webkit-animation-name: 'fadeOut';
	-moz-animation-name: 'fadeOut';
	animation-name: 'fadeOut';
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
}*/

#titleBar {
	height: auto;
	width: 100%;
	padding:0 0px;
	position: fixed;
	z-index: 100;
	top: 0;
}

.titleBarLogo {
	width: 50%;
	height: 45px;
	/*max-width: 200px;*/
	margin-left: 25%;
}

#loginLogo>div {
	width: auto;
	float: none;
	margin-top: 3px;
	margin-right: 0px;
	padding: 0px 10px 3px 10px;
}

#loginLogo {
	width: 100%;
	height: 48px;
	position: absolute;
}

.loginLogoImg1 {
	width: 28px;
	height: 28px;
	background-image: url(../img/cloud.png);
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
	margin-top: 3px;
	display: none;
}

.loginLogoImg2 {
	width: 35px;
	height: 35px;
	background-image: url(../img/people1.png);
	background-repeat: no-repeat;
	background-size: contain;
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	display: none;
}

.titleBarNavUl {
	background-color: transparent;
	width: 100%;
	height: 30px;
	border-width: 0px;
	text-align: center;
	list-style-type: none;
}

#titleBarNav {
	width: 100%;
}

.titleBarNavUl li {
	width: 25%;
	height: 28px;
	font-size: 0.8rem;
	word-wrap: break-word;
	overflow: hidden;
	border-right: solid 1px #efefef;
	box-sizing: border-box;
}

.titleBarNavUl li:nth-child(4) {
	border-right: 0px;
}

.titleBarNavUl li a {
	padding: 0 0.25rem 0 0.25rem;
	line-height: 28px;
	color: #fff;
	font-family: "微软雅黑";
	font-weight: 800;
}

.upToTopGuide {
	display: none;
}

.topBannerPointer {
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 99;
}

.topBannerPointer div:hover {
	opacity: 0.9;
	cursor: pointer;
}

.leftPointer {
	width: 40px;
	height: 50px;
	float: left;
	margin-top: 70px;
	margin-left: 10px;
	background-image: url(../img/sprite-navigator.png);
	background-color: rgba(0, 0, 0, 0.2);
	background-position-x: center;
	background-position-y: -50px;
	opacity: 0.7;
}

.rightPointer {
	width: 40px;
	height: 50px;
	float: right;
	margin-top: 70px;
	margin-right: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	background-image: url(../img/sprite-navigator.png);
	opacity: 0.7;
}

.topGrid {
	padding-top: 76px;
	width: auto;
	height: auto;
	position: relative;
}

.topGridUl {
	width: auto;
	height: 200px;
	overflow: hidden;
	position: relative;
	margin-top: 0;
}

.topGridUl li {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	overflow: hidden;
}

#topGridLi1 {
	width: 100%;
	height: 200px;
	z-index: 3;
}

.topGridLi2 {
	z-index: 2;
}

.topGridLi3 {
	z-index: 1;
}

.disPlayBlock {
	width: 100%;
	height: 200px;
	display: block;
}

.topGridDivImg {}

.disappear360 {
	visibility: hidden;
}
.wordBannerSpanSmall {
	font-size: 1.5rem;
}
.wordBannerSpanBig{
	font-size: 2.5rem;
}
.classifyBarSpan1 {
	font-size: 1.1rem;
	line-height: 1.2rem;
	margin-left: 1.2rem;
}

.classifyBarSpan2 {
	font-size: 0.8rem;
	color: #556;
	font-weight: 600;
	vertical-align: bottom;
	line-height: 1.2rem;
}

.cardContent {
	margin-top: 0.6rem;
}

.switchRoundAll {
	text-align: center;
	width: 100%;
}

.cardContentSwitch {
	display: block;
	width: 50%;
	height: 30px;
	margin: 0 auto;
	text-align: center;
}

.cardContentSwitch>div {
	width: 55px;
	height: 15px;
	text-align: center;
	vertical-align: middle;
	line-height: 20px;
	margin: 0 auto;
	margin-top: 0.7rem;
}

.switchRoundOne {
	margin: 0 5px 0 5px;
	float: left;
	border-radius: 5px;
	background-color: #ccc;
	width: 10px;
	height: 10px;
}

.switchRoundTwo {
	margin: 0 5px 0 0;
	float: left;
	border-radius: 5px;
	background-color: #ccc;
	width: 10px;
	height: 10px;
}

.switchRoundThree {
	float: left;
	border-radius: 5px;
	background-color: #ccc;
	width: 10px;
	height: 10px;
}

.cardContent {
	margin-top: 0;
}

.cardUl {}

.cardlishow360 {}

.cardUl li {
	float: left;
	width: 90%;
	height: 320px;
	font-size: 1rem;
	overflow: hidden;
	margin-left: 5%;
	margin-top: 10px;
}

.cardContentDiv {
	display: block;
}

.cardContentDiv img {
	height: 180px;
}

.cardContentText {
	margin-top: 0px;
	padding: 5px 10px;
	height: 90px;
}

.displayNone360 {
	display: none;
}

.endingBeforeDiv {
	width: auto;
	height: auto;
	margin: 0 auto;
	background-color: #384e5f;
	margin-top: -60px;
	padding: 70px 1.5rem 20px;
	text-align: center;
}

.endingBeforeDivContent {
	height: 300px;
}

.endingBeforeDivContentDiv {
	width: 50%;
	box-sizing: border-box;
	line-height: 1.2rem;
	font-size: 0.9rem;
	color: #efefef;
	word-break: break-all;
	height: auto;
	border: none;
}

.endingBeforeDivContentDiv1 {}

.endingBeforeDivContentDiv3 {
	width: 100%;
	height: auto;
	margin-top: 10px;
	border-top: solid 1px rgba(255,255,255,.7);
}

.endingBeforeDivContentDiv div:first-child {
	font-size: 1.25rem;
	font-weight: 800;
	margin-bottom: 10px;
	margin-top: 10px;
	color: #fefefe;
}
.appear480{
	display:inherit;
}
.socialMediaDiv div{
	width: 22px;
	height: 22px;
	display: inline-block;
	margin:2px 4px;
	border-radius: 2px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	box-sizing: border-box;
	opacity: 0.7;
}