html body{
	font-size: 14px;
	font-family: ProximaNova, helvetica, arial, sans-serif, "微软雅黑";
	overflow-x:  hidden;
	margin: 0px auto;
}
.topGridUl {
	width: 100%;
	height: 200px;
	background-color: #CCCCCC;
	font-size: 0px;
}
.topGridUl li {
	width: 33%;
	height: 200px;
	display: inline-block;
	list-style-type: none;
	position: relative;
	text-align: center;
}
.topGridH1 {
	font-size: 1.65rem;
	padding-top: 60px;
	line-height: 1.1;
	color: #efefef;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .65);
	font-family: Helvetica, Arial, sans-serif;
	word-wrap: break-word;
}
.topGridDivRoundBtn {
	position: absolute;
	left: 50%;
	margin-left: auto;
	margin-right: auto;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	/*向左移动50%宽度值*/
	bottom: 30px;
	z-index: 1;
}
.topGridDivRoundBtnA {
	background: transparent;
	border: 1px solid hsla(0, 0%, 100%, .7);
	border-radius: 2px;
	font-weight: 600;
	text-transform: uppercase;
	white-space: nowrap;
	font-size: .775rem;
	padding: 8px 15px;
	position: relative;
	display: inline-block;
	color: #fff;
}
.topGridDivRoundBtnA:hover {
	background: rgba(0, 0, 0, 0.26);
	border: 1px solid #fff;
}
.wordBanner {
	margin: auto;
	width: 84%;
	text-align: center;
	padding-bottom: 8px;
}
.wordBannerSpanSmall {
	font-size: 1.5rem;
}
.wordBannerSpanBig{
	font-size: 2.5rem;
}
.wordBanner h1 {
	font-size: 2.5rem;
	margin-top: 1.25rem;
	line-height: 2.5rem;
}
.wordBanner span {
	Vertical-align: middle;
	line-height: 1.6rem;
}

.wordBannerSpan {
	font-size: 0.85rem;
	color: #444;
	font-weight: 600;
}
.cardUl li {
	width: 33%;
	height: 330px;
	font-size: 1rem;
}
.disappear{
	display:none;
}
.endingBeforeDivContentDiv div:first-child{
	1.2rem;
}
